- Apache Spark MLib: computer 1대로 처리하기 어려운 대용량을 다루기 위해 나옴.
- 요즘 ML은 컴퓨터 1대로 돌아가는 경향이 있다. 큰 회사들은 데이터가 당연히 넘어버린다.
- data size를 줄여서 modeling을 한 다음에 spark로 대용량으로 처리할 수 있게끔 만든다든가 그렇게 처리함.


- Transformations, Action: 실제 계산이 수행되지 않고, 액션이 수행될 때만 실제 계산이 수행된다.
- Lineage : 작업이 실패해도 데이터 복구할 수 있게 계보를 갖고 있음
- Lazy Execution : 액션이 수행되는 시점에 데이터를 읽어들여 계싼을 시작

---
# Socar Issue
## 타다의 차량 배치 문제
- 차량의 효율성 증대
    - 수요 예측 : 사용자가 언제 어디에서 많이 부르는지를 예측해서 배치하기
    - 어떤 이점이 있나? : 경제적인 낭비 줄이기
        - 사람을 태우러 가는 시간에 돈을 받지 않기 때문에 길면 경제적인 낭비가 있다.
        - 짧으면 경제적인 낭비가 없고, 고객에게는 고객 경험을 긍정적인 방향으로 증대시킬 수 있다.
    
- Simple Process
    - 1. 수요 예측을 잘해야 한다.
        - 과거 데이터 기반 학습
    - 2. 예측된 수요에 맞게 차량 배치를 잘 해야 한다.
- [kepler](http://kepler.gl)
    - 현재 어떤 상태에 있는 차가 어떠한지 알 수 있음
    - 수요가 어디에서 일어나는지 알 수 있음
    - (시각화를 통해) 수요가 많은데 왜 차가 적게 들어와 있지? -> 현재 알고리즘을 분석해서 고치기 ... 효율이 올라가서 돈을 범
    - 타다의 연 매출 : 1,500억원.
    - 올 한 해, 운행 효율 10% 올리기(150억원) ... 타다팀이 4명인데 150억 정도 만들 수 있으면 훌륭하다! ... 그래서 데이터 분야가 유망하다.
    
    - 효율성 증대 외에도 다른 일도 많이 할 수 있기 때문에, 가치 창출이 더 크다.

---
### tar
```
# 압축 해제
- tar --help
- -xf : Extract 
- -v Verbose : log
- 명령어 : tar -xvf spark-2.4.0-bin-hadoop2.7

---

- pwd : present working directory
- bin : binary

- ./pyspark : 실행
- ./ : 현재 디렉토리
- ../ : 상위 디렉토리
```

---

https://stackoverflow.com/questions/30518362/how-do-i-set-the-drivers-python-version-in-spark

```Python
# terminal
which python

export PYSPARK_PYTHON=/Library/Frameworks/Python.framework/Versions/3.6/bin/python3

env

cd Downloads
cd spark-2.4.0-bin-hadoop2.7

./pyspark

# pyspark
text = sc.textFile("README.md")
text.first() # 에러 메시지 출력됨

# 에러 메시지
err msg : org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/Users/mac/Downloads/spark-2.4.0-bin-hadoop2.7/bin/README.md

# flapMap을 활용해 문장을 단어로 분리하기
text = sc.textFile("../README.md")
text.first()
text.take(3)

text.map(lambda s:s.split(' ')).take(3)
words = text.flatMap(lambda s:s.split(' '))
words.take(10)

# mapreduce
words.map(lambda w: (w, 1)) # reduce하려면 key, value 형식으로 만들어 놓고, 정해진 형식으로 합치는 operation하기 위해 규칙을 맞춤.
words.map(lambda w: (w, 1)).take(10) # key, value 이런 식으로 맞추어짐
wordscount = words.map(lambda w: (w, 1)).reduceByKey(lambda a,b: a+b) # key로 묶은 다음에 value부분에 대해서 reduce 함수를 사용(여기에서는 더하기)

wordscount.sortBy(lambda x:x[0]).take(10) # key : 알파벳순
wordscount.sortBy(lambda x:x[1], False).take(10) # value : 빈도 역순
```

## Scala와 Python의 차이
- [Example 1](http://homepage.cs.latrobe.edu.au/zhe/ZhenHeSparkRDDAPIExamples.html)
```Python
val z = sc.parallelize(List(1,2,3,4,5,6), 2) # Scala
z = sc.parallelize(List(1,2,3,4,5,6), 2) # python
# 2번째 인자의 '2'는 뭘까?
```

### Q. 2번째 인자의 '2'는 뭘까?
- 핵심 역량 : 직접 소스코드 보고 분석하기
    - [1. Spark Documents](https://spark.apache.org/docs/latest/rdd-programming-guide.html#parallelized-collections)
    - [2. API Docs : Scala](https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.package)
    - [3. API Docs : Python](https://spark.apache.org/docs/latest/api/python/index.html)

```Python
# Scala              
val a = sc.parallelize(List("dog", "tiger", "lion", "cat", "panther", "eagle"), 2)
val b = a.map(x => (x.length, x))
b.reduceByKey(_+_).collect
              
# Python
a = sc.parallelize(List("dog", "cat", "owl", "gnu", "ant"), 2)
b = a.map(lambda x: (len(x))
b.reduceByKey(lambda a,b: a+b).collect()
```

## Spark 실습 - Narrow & Wide Dependency
p. 148
```Python
# Narrow dependency - 효율적으로 처리하는 Operation
a = sc.parallelize(range(1, 10000000)).map(lambda x: (x,x))
a.filter(lambda x: x[1] < 100).count()

# Wide dependency - 속도가 느려지는 Operation
a = sc.parallelize(range(1, 10000000)).map(lambda x: (x,x))
b = sc.parallelize(range(1, 10000)).map(lambda x: (x,x))
a.join(b).count()

# Join with partition (Narrow dependency)
from pyspark.rdd import portable_hash
p = portable_hash(10)
a = sc.parallelize(range(1, 10000000)).map(lambda x: (x,x)).partitionBy(p)
b = sc.parallelize(range(1, 1000)).map(lambda x: (x,x)).partitionBy(p)
a.join(b).count()
```

## Spark 실습 - Caching
p. 149
```Python
a = sc.parallelize(range(1, 1000000000)) // 큰 RDD 정의 a.count() // 시간이 어느정도 걸림
b = a.filter(lambda x: x < 100000) // 필터링된 작은 RDD 정 의
b.count() // 연산 시간이 꽤 걸림
b.count() // 다시 해봐도 연산 시간이 꽤 걸림 b.persist() // 캐싱
b.count() // 연산을 다시 하면서, 결과를 캐싱 함 b.count() // 순식간에 수행됨
```

## Spark SQL & DataFrame
p.152
### SQL을 원하는 이유
- 익숙한 언어인 SQL로 데이터를 분석하고 싶다
- 예전에 짜놓은 SQL 분석 코드들을 재활용하고싶다
- 맵리듀스 프로그래밍보다 SQL이 빠르고 편하다
- 정형화된 데이터의 경우 정형화된 방법으로 분석하면 더 높은 수준의 최적화를 구현할 수 있다.

- 해야할 일이 정형적일 수록(자유도가 떨어질 수록) 성능을 올릴 여지가 많아진다.
- 자유도가 높으면 미리 어떻게 세팅을 할 지 예측할 수 없어서 성능을 올릴 여지가 적다.

### Hive
- SQL을 작성하면 MapReduce로 컨버팅
- 오버헤드가 크기때문에 응답이 느리고 사용하기 답답하다.
- SQL 코드를 MR 코드로 변환 -> 맵리듀스 작업을 jar로 패키징 -> 하둡 클러스터에 전송 -> 압축 해제 및 실행...
- 아무리 복잡한 쿼리라도 안정적으로 돌아가는것은 큰 장점
    - 며칠, 몇주가 걸릴 수도 있다는것은 문제
- 아직까지도 많이 쓰이고 있음
- 느린 속도를 개선하기 위해 Presto, Spark SQL 같은 경쟁 프로젝트 들이 나옴


### Spark SQL
- Spark의 뛰어난 엔진을 이용하여 응답속도와 처리속도를 개선
- 처음에는 Shark 프로젝트 - Spark SQL로 이름이 바뀜
- Spark 2.0은 Spark SQL을 위한 업데이트
    - Spark SQL 관련 많은 부분이 바뀌고 많은 개선이 이루어짐
    - DataFrame, DataSet API
    - 더 많은 쿼리와 파일포맷 지원 강화
- 현재는 Low-level API인 RDD와 공존, 앞으로는 DataSet API 쪽으 로 무게가 실릴 가능성 높음
- 머신러닝은 정형화된 데이터셋을 주로 다루므로 DataFrame API로 다시 쓰여짐

### Spark DataSet, DataFrame API
- Spark SQL 등에서 사용하기 위해 구조화된 형태의 데이터가 필요
    - 여러 언어에서도 동일하게 사용 가능
- Dataset[Row] = DataFrame
- Json파일 등에서 자동으로 스키마를 읽어들여 DataFrame을 만들수 있고, 직접 스키마를 만들수도 있음
- RDD를 DS, DF로 변환 가능
- MLlib 에서도 구조화된 데이터를 다루며, 언어별 통일성 등의 장점을 취하기 위해 DataFrame을 사용

---

- SparkContext vs SparkSession

        sc.textFile("...")
        spark.read.csv("...")
    
- Schema

        df.printSchema()
        df.show()
        
- Transformations

        df.select(), filter(), groupBy()..
- SQL

        df.createOrReplaceTempView("table_name")
        spark.sql("SELECT * FROM table_name").show()

----
### 왕좌의 게임

```Python
df = spark.read.option("header", "true").csv("/Users/mac/Downloads/game-of-thrones/character-deaths.csv")
df.show()
df.count()
df.filter(df['Death Year'].isNull()).count()

condition = df['Death Year'].isNull()
df.where(condition).count()
df.select("Name").show()

from pyspark.sql.functions import *
df.select(length("Name")).show()

column = df['Death Year']
column.
```

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../../../Downloads/game-of-thrones/character-deaths.csv")
df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

- Nobility : 귀족 여부
- GoT : 책 1권에 나왔는지 여부
- CoK : 책 2권에 나왔는지 여부
- SoS : 책 3권에 나왔는지 여부
- FfC : 책 4권에 나왔는지 여부
- DwD : 책 5권에 나왔는지 여부
---
#### Q1. 몇 명의 주인공이 죽고 살았는지?
- Death Year

In [6]:
df.count()

Name                  917
Allegiances           917
Death Year            305
Book of Death         307
Death Chapter         299
Book Intro Chapter    905
Gender                917
Nobility              917
GoT                   917
CoK                   917
SoS                   917
FfC                   917
DwD                   917
dtype: int64

In [15]:
print(df['Death Year'].isnull().count())
print(df['Death Year'].count())
print(df['Death Year'].isnull().sum())

917
305
612

In [16]:
condition = df['Death Year'].isnull()
print(df.where(condition).count())
print(df.where(condition).sum())

Name                  612
Allegiances           612
Death Year              0
Book of Death           2
Death Chapter           4
Book Intro Chapter    605
Gender                612
Nobility              612
GoT                   612
CoK                   612
SoS                   612
FfC                   612
DwD                   612
dtype: int64
Death Year                0.0
Book of Death             7.0
Death Chapter           122.0
Book Intro Chapter    17322.0
Gender                  491.0
Nobility                312.0
GoT                     142.0
CoK                     192.0
SoS                     257.0
FfC                     219.0
DwD                     208.0
dtype: float64

In [34]:
df['Name'].select

<bound method NDFrame.select of 0                         Addam Marbrand
1                Aegon Frey (Jinglebell)
2                        Aegon Targaryen
3                          Adrack Humble
4                         Aemon Costayne
5                        Aemon Estermont
6      Aemon Targaryen (son of Maekar I)
7                             Aenys Frey
8                          Aeron Greyjoy
9                                 Aethan
10                                 Aggar
11                                  Aggo
12                         Alan of Rosby
13                               Alayaya
14                           Albar Royce
15                                Albett
16                              Alebelly
17                      Alerie Hightower
18                    Alesander Staedmon
19                       Alester Florent
20                       Alia of Braavos
21                           Alla Tyrell
22                       Allard Seaworth
23                        Alliser Thorne
24                                  Alyn
25                          Alyn Ambrose
26                        Alyn Estermont
27                       Alyn Stackspear
28                         Alys Karstark
29                       Alysane Mormont
                     ...
887                               Willit
888                     Willow Witch-eye
889                               Willum
890                                 Woth
891                                Wulfe
892                  Wun Weg Wun Dar Wun
893                          Wyl (guard)
894                     Wyl the Whittler
895                       Wylis Manderly
896                       Wylla Manderly
897                       Wyman Manderly
898                    Wynafryd Manderly
899                         Wynton Stout
900                     Xaro Xhoan Daxos
901                               Xhondo
902                               Yandry
903                          Yellow Dick
904                         Ygon Farwynd
905                              Ygritte
906                         Yohn Farwynd
907                           Yohn Royce
908                                Yoren
909                          Young Henly
910                               Ysilla
911                                  Zei
912                                Zollo
913                    Yurkhaz zo Yunzak
914                     Yezzan Zo Qaggaz
915                     Torwynd the Tame
916                        Talbert Serry
Name: Name, Length: 917, dtype: object>