In [1]:
import pandas as pd

In [2]:
your_name = input("너의 이름은?")
print(your_name, "야, 반갑다.")

너의 이름은?석현
석현 야, 반갑다.

In [3]:
2+2*2/2

4.0

In [20]:
def reshape_time():
    var_1 = input("시간을 입력해주세요 : ")
    print("1시간은 60분 \n1분은 60초 \n1시간은?")
    int_var = int(var_1)
    print(int_var*60*60, "초")

In [21]:
reshape_time()

시간을 입력해주세요 : 1
1시간은 60분
1분은 60초
1시간은?
3600 초

### 슬라이싱

In [24]:
text = "winner winner chicken dinner"

print(text[0:6])
# 0 <= index < 6

winner

### 문지열 나누기(split), 결합(join)

In [29]:
text = "파이썬,C,C++,컴퓨터구조,운영체제,자료구조"
cs_list = text.split(",")
cs_str = ",".join(cs_list)

print(cs_list)
print(cs_str)

['파이썬', 'C', 'C++', '컴퓨터구조', '운영체제', '자료구조']
파이썬,C,C++,컴퓨터구조,운영체제,자료구조

### 문자열 포맷
- string %data
- {}.format(변수)

In [30]:
python = "Python"

before = "cs all in one %s" % python
after = "cs all in one {}".format(python)

print(before)
print(after)

cs all in one Python
cs all in one Python

In [31]:
str1 = "*" * 50
str1

'**************************************************'

# Sequence
- 순서가 있는 자료형
    - 리스트, 튜플, 문자열
    
    - 시퀀스 타입의 객체들은 인덱스 연산을 통해 내부 항목에 접근 가능
    
## List
- 여러 개의 자료를 하나의 변수로 관리할 때 사용
- 자료의 타입이 달라도 다 같이 담을 수 있음
- 빈 리스트 생성 가능

- 슬라이싱, 추가
    - var1.append("str")
    - var1.insert(1, "str") ... 넣고 싶은 위치 지정"
- 연산
    - var1 + var2
    - var1.extend(var2)
- 삭제
    - var1.remove("str")
    - del var1[0]
- 세기
    - 값 세기 : var1.count(value)
    - 길이 세기 : len(var1)
- 찾기
    - 값으로 인덱스 찾기 : var1.index(value)

#### 변수 할당

In [102]:
import random

var1 = [i for i in range(1, 10 + 1)]
var2 = [random.randint(0, 10) for i in range(1, 10)]

print(var1)
print(var2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 5, 6, 8, 6, 8, 0, 6, 10]

In [87]:
var1.append("우리 규원이")
print(var1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '우리 규원이']

In [88]:
var1.insert(1, "우리 규원이")
print(var1)

[1, '우리 규원이', 2, 3, 4, 5, 6, 7, 8, 9, 10, '우리 규원이']

In [112]:
var3 = var1 + var2
print(var3)
# var1.extend(var2)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 5, 6, 8, 6, 8, 0, 6, 10]

In [104]:
del var1[0]
print(var1)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 값 세기

In [105]:
var2.count(10)

1

#### 길이 세기

In [106]:
len(var2)

9

#### 값으로 인덱스 찾기

In [107]:
print(var1.index(10))
print(var2.index(10)) # 값으로 인덱스 찾기 ... 맨 처음에 발견된 값만 반환, 그 외의 것은?

8
8

#### 정렬하기

In [108]:
var1.sort()

In [109]:
var1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
sorted(var3)

[0, 2, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 8, 9, 10, 10]

In [110]:
var3.sort()

In [111]:
var3

[0, 1, 2, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 8, 8, 9, 10, 10]

#### 특정 값들 찾기
- 10이라는 값의 위치를 찾고자 하는데, 두 번째 10의 위치를 리턴 시키고자 하면은?

In [118]:
var3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 7, 5, 6, 8, 6, 8, 0, 6, 10]

In [117]:
var3.index(10)

8

In [119]:
var3[8]

10

In [122]:
def duplicate_index(input_list, key):
    return_list = []
    
    for index, value in enumerate(input_list):
        if value == key:
            return_list.append(index)
    return return_list

In [123]:
duplicate_index(var3, 10)

[8, 17]

## Tuple

In [124]:
colors = ("red", "blue")
del colors[0]

TypeError: 'tuple' object doesn't support item deletion

In [125]:
colors[1] = "yellow"

TypeError: 'tuple' object does not support item assignment

#### 튜플 언패킹

In [126]:
c1 = "red"
c2 = "blue"
colors = c1, c2
print(type(colors))

<class 'tuple'>

In [129]:
print(c1, c2)
print(colors)

red blue
('red', 'blue')

In [130]:
c1, c2 = c2, c1
print(c1,c2)

blue red

In [142]:
list1 = [1, 2, 3]
list1.append(5)
del list1[1]
list1.insert(1, 4)
list1

[1, 4, 3, 5]

In [ ]:
list1 = tuple(list1)
list1

In [136]:
list2 = (1, 2, 3)
list2

(1, 2, 3)

In [137]:
list1 = list2
list1

(1, 2, 3)

In [162]:
some_list = [1, 2, 3, 100, 5]

def list_update(input_list, key, change_value):
    # enumerate 순회한 요소의 순서를 알려줌
    for index, value in enumerate(input_list):
        # key가 value안에 포함 되는가? 완전일치 하면 True 아니면 False 
        print(index, value)
        if key == value:
            input_list[index] = change_value
        else:
            pass

    return input_list

In [163]:
list_update(some_list, 100, 10)

0 1
1 2
2 3
3 100
4 5

[1, 2, 3, 10, 5]

## Dictionary
- Key - Value 형태로 항목을 가지는 자료형
- 다른 언어에서는 연관배열 또는 해시, 해시맵이라고도 함

특징
- 순서가 없음
- key는 중복이 불가능
- 항목 추가/변경이 가능

In [165]:
sample_list = [['name', "장석현"], ["age", "31"], ["job", "data-analyst"]]
sample_dict = dict(sample_list)

print(type(sample_list))
print(sample_list)

print(type(sample_dict))
print(sample_dict)

<class 'list'>
[['name', '장석현'], ['age', '31'], ['job', 'data-analyst']]
<class 'dict'>
{'name': '장석현', 'age': '31', 'job': 'data-analyst'}

In [166]:
sample_dict["nickname"] = "verbena"
sample_dict["name"] = "Andrew"

sample_dict

{'name': 'Andrew', 'age': '31', 'job': 'data-analyst', 'nickname': 'verbena'}

In [175]:
sample_dict_2 = {"job": "data-engineer"}
# sample_dict_2 = dict([["job", "data-engineer"]])
sample_dict_3 = {}

In [176]:
sample_dict_3.update(sample_dict)
sample_dict_3

{'name': 'Andrew', 'age': '31', 'job': 'data-analyst', 'nickname': 'verbena'}

In [177]:
sample_dict_3.update(sample_dict_2)
sample_dict_3

{'name': 'Andrew', 'age': '31', 'job': 'data-engineer', 'nickname': 'verbena'}

## Set

In [189]:
list1 = [i for i in range(1, 10+1)]
dict1 = dict([[1, 1], [2, 2], [11, 11], [12, 12]])

answer = dict1.keys() - set(list1)

print("answer : {}".format(answer))

answer : {11, 12}

## For

In [197]:
info_dict = {"name": "Andrew", "age": "31", "job": "Data Engineer"}
for info_key, info_val in info_dict.items():
    print(info_key, info_val)

name Andrew
age 31
job Data Engineer

In [202]:
for i in range(1, 9+1):
    for j in range(1, 9+1):
#         print(i,'*',j, "=", i*j)
        print("{}*{}={}".format(i, j, i*j))
    print("="*50)

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
==================================================
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
==================================================
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
==================================================
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
==================================================
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
==================================================
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
==================================================
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
==================================================
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
==================================================
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
==================================================

## While

In [203]:
cnt = 1
while cnt <= 9:
    cnt2 = 1
    print("{}단".format(cnt))
    while cnt2 <= 9:
        print("{}*{}={}".format(cnt, cnt2, cnt*cnt2))
        cnt2 += 1
    cnt += 1

1단
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [208]:
# list1 = [i for i in range(1, 10+1)]
list1 = list(range(1, 10+1))
list2 = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"]

dict(list(zip(list1, list2)))

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten'}

In [209]:
{k:v for k, v in zip(list1, list2)}

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 'ten'}

In [210]:
gugu_list = ["{}*{}={}".format(i, j, i*j) for i in range(1, 9+1) for j in range(1, 9+1)]
gugu_list

['1*1=1',
 '1*2=2',
 '1*3=3',
 '1*4=4',
 '1*5=5',
 '1*6=6',
 '1*7=7',
 '1*8=8',
 '1*9=9',
 '2*1=2',
 '2*2=4',
 '2*3=6',
 '2*4=8',
 '2*5=10',
 '2*6=12',
 '2*7=14',
 '2*8=16',
 '2*9=18',
 '3*1=3',
 '3*2=6',
 '3*3=9',
 '3*4=12',
 '3*5=15',
 '3*6=18',
 '3*7=21',
 '3*8=24',
 '3*9=27',
 '4*1=4',
 '4*2=8',
 '4*3=12',
 '4*4=16',
 '4*5=20',
 '4*6=24',
 '4*7=28',
 '4*8=32',
 '4*9=36',
 '5*1=5',
 '5*2=10',
 '5*3=15',
 '5*4=20',
 '5*5=25',
 '5*6=30',
 '5*7=35',
 '5*8=40',
 '5*9=45',
 '6*1=6',
 '6*2=12',
 '6*3=18',
 '6*4=24',
 '6*5=30',
 '6*6=36',
 '6*7=42',
 '6*8=48',
 '6*9=54',
 '7*1=7',
 '7*2=14',
 '7*3=21',
 '7*4=28',
 '7*5=35',
 '7*6=42',
 '7*7=49',
 '7*8=56',
 '7*9=63',
 '8*1=8',
 '8*2=16',
 '8*3=24',
 '8*4=32',
 '8*5=40',
 '8*6=48',
 '8*7=56',
 '8*8=64',
 '8*9=72',
 '9*1=9',
 '9*2=18',
 '9*3=27',
 '9*4=36',
 '9*5=45',
 '9*6=54',
 '9*7=63',
 '9*8=72',
 '9*9=81']

In [212]:
for i in range(1, 100 + 1):
    # print(i)
    if i % 15 == 0:
        print(i, " FizzBuzz!")
    elif i % 3 == 0:
        print(i, " Fizz!")
    elif i % 5 == 0:
        print(i, " Buzz!")
    else:
        print(i)

1
2
3  Fizz!
4
5  Buzz!
6  Fizz!
7
8
9  Fizz!
10  Buzz!
11
12  Fizz!
13
14
15  FizzBuzz!
16
17
18  Fizz!
19
20  Buzz!
21  Fizz!
22
23
24  Fizz!
25  Buzz!
26
27  Fizz!
28
29
30  FizzBuzz!
31
32
33  Fizz!
34
35  Buzz!
36  Fizz!
37
38
39  Fizz!
40  Buzz!
41
42  Fizz!
43
44
45  FizzBuzz!
46
47
48  Fizz!
49
50  Buzz!
51  Fizz!
52
53
54  Fizz!
55  Buzz!
56
57  Fizz!
58
59
60  FizzBuzz!
61
62
63  Fizz!
64
65  Buzz!
66  Fizz!
67
68
69  Fizz!
70  Buzz!
71
72  Fizz!
73
74
75  FizzBuzz!
76
77
78  Fizz!
79
80  Buzz!
81  Fizz!
82
83
84  Fizz!
85  Buzz!
86
87  Fizz!
88
89
90  FizzBuzz!
91
92
93  Fizz!
94
95  Buzz!
96  Fizz!
97
98
99  Fizz!
100  Buzz!

### Generator

In [224]:
gen = (i for i in range(1, 5 + 1))
print(type(gen))
print(gen)

<class 'generator'>
<generator object <genexpr> at 0x110fc9bf8>

In [225]:
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

1
2
3
4
5

StopIteration:

## def function

In [243]:
import random

def numguess(try_cnt):
    answer = random.randint(1, 100)
    print(answer)
    
    while True:
        if try_cnt == 0:
            print("기회를 모두 소진했습니다. 정답은{}입니다.".format(answer))
            break
            
        your_answer = int(input("Guess Number : "))
        
        if answer == your_answer:
            print("정답입니다. 정답은{}이고, {}번 만에 맞추셨습니다.".format(answer, 5-try_cnt+1))
            break
        elif your_answer > answer and try_cnt > 0:
            try_cnt -= 1
            print("정답은 {}보다 작습니다. 기회는 {}번 남았습니다.".format(your_answer, try_cnt))


        elif your_answer < answer and try_cnt > 0:
            try_cnt -= 1
            print("정답은 {}보다 큽니다. 기회는 {}번 남았습니다.".format(your_answer, try_cnt))

In [244]:
numguess(5)

5
Guess Number : 10
정답은 10보다 작습니다. 기회는 4번 남았습니다.
Guess Number : 5
정답입니다. 정답은5이고, 2번 만에 맞추셨습니다.

#### 가변 위치 인자 (*)

In [245]:
def exam_arg(*args):
    print(args)
    print(args[1])
    print(type(args))

In [246]:
exam_arg("text", "출력", 123)

('text', '출력', 123)
출력
<class 'tuple'>

#### 가변 키워드 인자 (**)

In [247]:
def exam_arg(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
exam_arg(key='test', word='출력', args=123)

{'key': 'test', 'word': '출력', 'args': 123}
<class 'dict'>

In [248]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

### Lambda Expression

In [249]:
def awesum(a, b):
    return a + b

lambda a, b: a + b

In [251]:
lambda a, b: a + b

In [254]:
some_list = list(range(1, 10 + 1))
result = list(map(lambda x: x*2, some_list))
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [257]:
some_list = [1, "1", "one", 4.567, {1:"one"}]

result = list(filter(lambda x: x == str(x), some_list))
print(result)

['1', 'one']

In [259]:
result = list(filter(lambda x: isinstance(x, str), some_list))
print(result)

['1', 'one']

### Recursive Function
- 함수 안에서 함수 자기자신을 호출하는 방식을 재귀호출(recursive call)이라고 한다.

- 재귀조건
- 탈출조건

In [5]:
def fibo(n):
    if n <= 2:
        return 1 # 탈출 조건
    else:
        return fibo(n-1) + fibo(n-2) # 재귀 조건
fibo(5)

5

In [6]:
fibo(10)

55

In [ ]:
def fibo(n):
    a = 0
    b = 1
    y = 0
    
    for _ in range(n):
        y = a + b
        a = b
        b = y

    return y

In [4]:
fibo(10)

89

- 재귀호출을 예외처리할 때 사용

In [2]:
import random

def numguess(try_cnt=5, answer=random.randint(1, 100)):
    print(answer)
    
    while True:
        if try_cnt == 0:
            print("기회를 모두 소진했습니다. 정답은{}입니다.".format(answer))
            break
            
        your_input = input_answer()
        if answer == your_input:
            print("정답입니다. 정답은{}이고, {}번 만에 맞추셨습니다.".format(answer, 5-try_cnt+1))
            break
        elif your_input > answer and try_cnt > 0:
            try_cnt -= 1
            print("정답은 {}보다 작습니다. 기회는 {}번 남았습니다.".format(your_input, try_cnt))
        elif your_input < answer and try_cnt > 0:
            try_cnt -= 1
            print("정답은 {}보다 큽니다. 기회는 {}번 남았습니다.".format(your_input, try_cnt))
        

def input_answer():
    try:
        your_input = int(input("Guess Number : "))
        return your_input
    except:
        return input_answer()
    
numguess()

99
Guess Number : 100
정답은 100보다 작습니다. 기회는 4번 남았습니다.
Guess Number : 80
정답은 80보다 큽니다. 기회는 3번 남았습니다.
Guess Number : 99
정답입니다. 정답은99이고, 3번 만에 맞추셨습니다.

## Class
- 불편함을 해결하기 위해 탄생한 객체지향 프로그래밍
- 객체지향 프로그래밍이란 객체(object) 단위로 데이터와 기능(function)을 하나로 묶어 쓰는 방식

- Class란?
    - 속성(attribute)과 동작(method)를 갖는 데이터 타입
    - attribute : 클래스 내부에서 선언된 변수
    - method : 클래스 내부에서 선언된 함수

In [18]:
class MySon:
    description = "귀여운 내 새끼"
    def __init__(self, name, age, kind, distinct, speak):
        self.name = name
        self.age = age
        self.kind = kind
        self.distinct = distinct
        self.speak = speak
        self.bark()
        
    def bark(self):
        print(self.speak)

In [19]:
bokgil = MySon("복길", "Unkown", "Unkown", "사람을 좋아함", "멍멍")
chapssal = MySon("찹쌀", "20day", "mix", "cute", "낑낑")
colud = MySon("구름", "6month", "mix", "very cute", "야옹")

멍멍
낑낑
야옹

In [20]:
bokgil.bark()

멍멍

In [21]:
chapssal.bark()

낑낑

In [22]:
colud.bark()

야옹

In [25]:
cloud = MySon("구름", "6month", "mix", "very cute", "야옹")

야옹

In [28]:
print(cloud.name)
print(cloud.age)
cloud.bark()

구름
6month
야옹

In [29]:
cloud.description

'귀여운 내 새끼'

In [31]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 상속
- 코드의 중복을 막을 수 있으며(재활용),
- 상속을 받은 하위클래스의 공통적인 규약(메서드)을 만들기 위함(유지보수 용이, 통일성)

- 상속을 받은 하위클래스(자식)를 만드는 이유는 객체(데이터)들의 고유한 특성(정보, 동작 등)을 다루기 위함

### Method Override (덮어쓰기)
- 자식 클래스 안에서
- 부모 클래스에서 정의한 메서드를
- 다른 동작을 하게끔 바꿀 수 있음
- 이 경우, 부모 클래스의 메서드를 덮어버리며
- 이를 메서드 오버라이드(method override)라고 한다.

In [39]:
class Parents:
    father = "Andrew"
    
    def father_name(self):
        print(self.father)
        
        
class MySon(Parents):
    description = "귀여운 내 새끼"
    def __init__(self, name, age, kind, distinct, speak):
        self.name = name
        self.age = age
        self.kind = kind
        self.distinct = distinct
        self.speak = speak
        self.bark()
        
    def bark(self):
        print(self.speak)
    
    def father_name(self):
        print("{}의 아빠는 {}입니다.".format(self.name, self.father))

In [40]:
bokgil = MySon("복길", "Unkown", "Unkown", "사람을 좋아함", "멍멍")
chapssal = MySon("찹쌀", "20day", "mix", "cute", "낑낑")
colud = MySon("구름", "6month", "mix", "very cute", "야옹")

멍멍
낑낑
야옹

In [41]:
bokgil.father_name()
chapssal.father_name()
colud.father_name()

복길의 아빠는 Andrew입니다.
찹쌀의 아빠는 Andrew입니다.
구름의 아빠는 Andrew입니다.